venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.git/
.gitignore
.dockerignore
.env
embedding-svc.log
